<!DOCTYPE html>
<html lang="fr">
    <head>
    	<title>Andreani Quentin || Développpeur Web</title>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    	<!-- Styles -->

    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    	<link rel="stylesheet" href="styles/style.css">

    	<!-- Îcones -->

    	<script src="https://kit.fontawesome.com/50b4ed0339.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <script src="https://kit.fontawesome.com/50b4ed0339.js" crossorigin="anonymous"></script>
</html>
